<h1><%= @item.id ? 'Edit Item' : 'Create New Item' %></h1>
<hr />

<%= form_for [@store, @item] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :price %>
  <%= f.text_field :price %>

  <%= f.submit %>

  
<% end %>

<%= link_to 'Back', @item.id ? store_item_path(@store, @item) : store_path(@store)%>
